// File: assets/main.scss
// 1. Import the initial variables
@import "~bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables

// Add pink and its invert
$palegreen: #B5D7D1;//#F0AB97;//#89C8AF;//#70C1B3;
$palegreen-invert: #fff;

$salmon: #ffbba8;
$salmon-invert: #fff;

$terracotta: #EF6E5C;
$terracotta-invert: #fff;
$pale-terracotta: #f77e6e;


// Add cream
$cream: #fee5ad;

// Add a serif family
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Cormorant+Garamond|Rochester');


$family-cursive: "Dancing Script", cursive;
//$family-cursive: "Rochester", cursive;
$family-serif: 'Cormorant Garamond', serif;

.is-cursive {
  font-family: $family-cursive;
}

// 3. Set the derived variables

$primary: $cream;//$terracotta;
$primary-invert: rgba(#000, 0.7);//$terracotta-invert;

// Use the existing orange as the danger color
$danger: $orange;
// Use the new serif family
$family-primary: $family-serif;

// 4. Import the rest of Bulma
@import "~bulma/bulma";

// transition duration
.page-enter-active, .page-leave-active {
  transition: all 5s ease-out;
}
/* entering start */
.page-enter {
  opacity: 0;
}

